In [1]:
import pandas as pd 

# Avec des slashes normaux (fonctionne sous Windows aussi)
# df = pd.read_csv("C:/Users/lucas.zubiarrain/analyse-financiere/export_operations_03_02_2026_07_50_30-1770101431296.csv")

pd.set_option('display.max_columns', None)

url = "C:\\Users\\lucas.zubiarrain\\analyse-financiere\\export_operations_03_02_2026_07_50_30-1770101431296.csv"


# Ou doubler les backslashes
df = pd.read_csv(url, sep=";")

df.head()

,dateOp,dateVal,label,category,categoryParent,supplierFound,amount,comment,accountNum,accountLabel,accountbalance
0,2026-02-02,2026-02-02,VIR INST JEAN BAPTISTE DEMAY YACOUMAS,Virements émis,Virements émis,jean baptiste demay yacoumas,"-383,00",NaN,40575066,BoursoBank,252.60
1,2026-02-02,2026-02-02,CARTE 30/01/26 KCRC VIA SILVA CB*9069,Vêtements et accessoires,Vie quotidienne,kcrc via silva,"-300,00",NaN,40575066,BoursoBank,252.60
2,2026-02-02,2026-02-02,CARTE 30/01/26 NYX*MELCHIOR CB*9069,"Hébergement (hôtels, camping…)",Voyages & Transports,nyx melchior,"-2,90",NaN,40575066,BoursoBank,252.60
3,2026-02-02,2026-02-02,CARTE 31/01/26 INTERMARCHE DAC CB*9069,Carburant,Auto & Moto,intermarche,"-20,31",NaN,40575066,BoursoBank,252.60
4,2026-01-30,2026-01-30,CARTE 29/01/26 SUPER U 9 CB*9069,Alimentation,Vie quotidienne,super u,"-30,17",NaN,40575066,BoursoBank,958.81

In [2]:
df["categoryParent"].value_counts()

categoryParent
Vie quotidienne                         11
Voyages & Transports                    11
Virements reçus                         10
Virements émis                           6
Mouvements internes débiteurs            3
Abonnements & téléphonie                 3
Auto & Moto                              2
Dépenses d'épargne                       2
Non catégorisé                           2
Loisirs et sorties                       2
Services financiers & professionnels     2
Name: count, dtype: int64

In [4]:
df[df["supplierFound"] == "super u" ]

,dateOp,dateVal,label,category,categoryParent,supplierFound,amount,comment,accountNum,accountLabel,accountbalance
4,2026-01-30,2026-01-30,CARTE 29/01/26 SUPER U 9 CB*9069,Alimentation,Vie quotidienne,super u,"-30,17",NaN,40575066,BoursoBank,958.81
14,2026-01-26,2026-01-26,CARTE 24/01/26 SUPER U 9 CB*9069,Alimentation,Vie quotidienne,super u,"-42,85",NaN,40575066,BoursoBank,-64.58
26,2026-01-14,2026-01-14,CARTE 13/01/26 SUPER U 9 CB*9069,Alimentation,Vie quotidienne,super u,"-10,52",NaN,40575066,BoursoBank,-30.17
31,2026-01-12,2026-01-12,CARTE 10/01/26 SUPER U 9 CB*9069,Alimentation,Vie quotidienne,super u,"-16,00",NaN,40575066,BoursoBank,37.85
39,2026-01-12,2026-01-12,CARTE 11/01/26 SUPER U 9 CB*9069,Alimentation,Vie quotidienne,super u,"-57,41",NaN,40575066,BoursoBank,37.85

In [5]:
df[(df["supplierFound"] == "intermarche")]

,dateOp,dateVal,label,category,categoryParent,supplierFound,amount,comment,accountNum,accountLabel,accountbalance
3,2026-02-02,2026-02-02,CARTE 31/01/26 INTERMARCHE DAC CB*9069,Carburant,Auto & Moto,intermarche,"-20,31",NaN,40575066,BoursoBank,252.6